# Workspace 1

## What this workspace for
[Describe workspace 1 in 2-3 sentences]

## What the process looks like
[first I do this, then I do that]

## What files are in here and how they are organized

## What skills or tools to use in this workspace
